@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="drag-and-drop">
<head lang="en">
    <meta charset="utf-8">
    <title>Form Designer</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.min.css" rel="stylesheet">


    <script src="~/Scripts/angular-dragdrop.min.js"></script>
    <script src="~/Scripts/ngStorage.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/app.services.js"></script>


    <style>
        .thumbnail {
            height: 280px !important;
        }

        .btn-droppable {
            width: 180px;
            height: 30px;
            padding-left: 4px;
        }

        .btn-draggable {
            width: 160px;
        }

        .emage {
            height: 215px;
        }

        h1 {
            padding: .2em;
            margin: 0;
        }

        #products {
            float: left;
            width: 250px;
            margin-right: 2em;
        }

        #designArea {
            width: 600px;
            float: left;
            margin-top: 5em;
        }

        .ng-hide:not(.ng-hide-animate) {
          /* this is just another form of hiding an element */
          display: block!important;
          position: absolute;
          top: -9999px;
          left: -9999px;
        }

        #recordSection {
            width: 500px;
            float: left;
        }

        #controlsmetadata {
            float: left;
            width: 290px;
            margin-left: 2em;
        }

        .label-cls:active {
            outline: 3px dotted black;
        }

        .txtbox-cls:active {
            outline: 3px dotted black;
        }

        .image-cls:active {
            outline: 3px dotted black;
        }

        
    </style>
</head>
<body ng-controller="oneCtrl">
    <div id="products">
        <h1 class="ui-widget-header">Controls</h1>
        <div id="catalog">
            <h2><a href="#">UI Controls</a></h2>
            <div>
                <ul>
                    <li ng-repeat='item in list1' ng-show="item.Type" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, deepCopy: true, animate: true, placeholder: 'keep'}">{{item.Type}}</li>
                </ul>
            </div>

        </div>
    </div>

    <div id="recordSection" data-ng-init="callInitialServices()">
        <h1 class="ui-widget-header">Record Section</h1>
        <div class="ui-widget-content">

            <table>
                <tbody>
                    <tr>
                        <td>
                            <span>Form Template name</span>
                        </td>
                        <td>
                            <input id="formTemplateNameTxt" type="text" ng-model="formTemplateName" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span>Client</span>
                        </td>
                        <td>
                            <select ng-model="selectedClientId"
                                    ng-options="client.client_ID as client.client_Name for client in clientsSource"
                                    ng-required="true">
                            </select> 
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span>Dept</span>
                        </td>
                        <td>
                            <select ng-model="selectedDepartmentId"
                                    ng-options="dept.department_ID as dept.department_Name for dept in departmentsSource"
                                    ng-required="true">
                            </select>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <span>Survey Type</span>
                        </td>
                        <td>
                            <select id="aaaa" ng-model="selectedSurveyTypeId"
                                    ng-options="st.survey_Type_ID as st.survey_Type_Name for st in surveyTypesSource"
                                    ng-required="true"></select>
                        </td>
                    </tr>


                    <tr>
                        <td>
                            <span>Survey Form name</span>
                        </td>
                        <td>
                            <input id="surveyFormNameTxt" type="text" ng-model="surveyFormName" />
                        </td>
                    </tr>
                </tbody>
            </table>





        </div>
    </div>

    <div id="designArea" style="display: {{designAreaDisplay}};;">
        <h1 class="ui-widget-header">Design Area</h1>
        <div class="ui-widget-content">

            <div id="designGround"
                 data-drop="true"
                 ng-model='list4'
                 jqyoui-droppable="{multiple:true}"
                 style="position: relative; height: 500px;width: 500px; border: 1px; overflow:scroll; ">

                <span class="label-cls"
                      ng-repeat="item in list4 track by $index"
                      ng-show="item.Content.Value"
                      ng-model="item.title"
                      ng-if="item.Type == 'LABEL'"
                      ng-click="select(item, $event)"
                      data-drag="true"
                      data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                      style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}}; font-family:{{item.Font.Value}}; font-weight:{{item.FontBold.Value}}; color: {{item.FontColor.Value}}; background-color: {{item.BackColor.Value}}; "
                      ng-keypress="alertme('aa');"
                      draggable>
                    {{item.Content.Value}}
                </span>

                <input class="txtbox-cls"
                       type="text"
                       ng-repeat="item in list4 track by $index"
                       ng-show="item.Content.Value"
                       data-drag="true"
                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                       ng-if="item.Type == 'TEXTBOX'"
                       ng-click="select(item, $event)"
                       value="{{item.Content.Value}}"
                       style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}}; color: {{item.FontColor.Value}}; font-weight:{{item.FontBold.Value}}; background-color: {{item.BackColor.Value}}; "
                       draggable />

                @*Text Area*@
                <textarea class="image-cls"
                          ng-repeat="item in list4 track by $index"
                          data-drag="true"
                          data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                          ng-if="item.Type == 'TEXTAREA'"
                          ng-model="item.Content.Value"
                          ng-click="select(item, $event)"
                          style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}}; color: {{item.FontColor.Value}}; font-weight:{{item.FontBold.Value}}; background-color: {{item.BackColor.Value}}; "
                          draggable></textarea>

                @*<span ng-repeat="item in list4 track by $index" ng-if="item.Type == 'CHECKBOX'" draggable>*@
                <input class="image-cls"
                       type="checkbox"
                       ng-repeat="item in list4 track by $index"
                       value="{{item.Content.Value}}"
                       data-drag="true"
                       data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                       ng-if="item.Type == 'CHECKBOX'"
                       ng-click="select(item, $event)"
                       ng-model="item.Name"
                       style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}};"
                       draggable />

                @*{{item.Content}}</span>*@


                @*Dropdown*@
                <select class="image-cls"
                        ng-repeat="item in list4 track by $index"
                        data-drag="true"
                        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                        ng-if="item.Type == 'DROPDOWN'"
                        ng-model="dummy"
                        ng-options="x for x in item.Enumerations.Value.split(',')"
                        ng-click="select(item, $event)"
                        style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}}; font-family:{{item.Font.Value}}; color: {{item.FontColor.Value}}; font-weight:{{item.FontBold.Value}}; background-color: {{item.BackColor.Value}}; "
                        draggable>
                    <option value="">{{item.DefaultSelectText.Value}}</option>
                </select>

                @*Listbox*@
                <select class="image-cls"
                        ng-repeat="item in list4 track by $index"
                        data-drag="true"
                        data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                        ng-if="item.Type == 'LISTBOX'"
                        multiple
                        ng-multiple="true"
                        ng-model="item.SelectEnumerations.Value"
                        ng-options="x for x in item.Enumerations.Value.split(',')"
                        ng-click="select(item, $event)"
                        style="position:absolute; height: {{item.Height}}px;width: {{item.Width}}px; top: {{item.Top}}px;left: {{item.Left}}px; outline: {{item.Outline.Value}}; font-family:{{item.Font.Value}}; color: {{item.FontColor.Value}}; font-weight:{{item.FontBold.Value}}; background-color: {{item.BackColor.Value}}; "
                        draggable></select>


                <span class="placeholder" ng-hide="hideMe()">Add your items here</span>


            </div>


            <div id="displayitems">
                <input type="button" value="Save" ng-click="saveFormTemplateMasterAndDesign();" />
                <input type="button" value="Launch" ng-click="launchDesign();" />
                <input type="button" value="Clear Cache" ng-click="clearCache();" />
                <input type="button" value="Copy" ng-click="copySelectedControl();" />
                <input type="button" value="Paste" ng-click="pasteSelectedControl();" />
                <input type="button" value="Remove" ng-click="deleteSelectedControl();" />

                {{status}}
            </div>


        </div>
    </div>


    <div id="controlsmetadata">
        <h1 class="ui-widget-header">Properties</h1>
        <div>
            <ol>
                <li>
                    <span>Name</span>
                    <input type="text" ng-model="selectedControl.Name" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.DataFieldName.Display}};">
                    <span>Data Field</span>
                    <input type="text" ng-model="selectedControl.DataFieldName.Value" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.DataFieldType.Display}};">
                    <span>Data Field Type</span>
                    <select ng-model="selectedControl.DataFieldType.Value">
                        <option value="varchar(100)">varchar(100)</option>
                        <option value="bit">bit</option>
                        <option value="bigint">bigint</option>
                    </select>
                </li>

                <li>
                    <span>Width</span>
                    <input type="text" ng-model="selectedControl.Width" style="height: 15px; width: 100px;" />
                </li>

                <li>
                    <span>Height</span>
                    <input type="text" ng-model="selectedControl.Height" style="height: 15px; width: 100px;" />
                </li>

                <li>
                    <span>Top</span>
                    <input type="text" ng-model="selectedControl.Top" style="height: 15px; width: 100px;" />
                </li>

                <li>
                    <span>Left</span>
                    <input type="text" ng-model="selectedControl.Left" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.Content.Display}};">
                    <span>Content</span>
                    <input type="text" ng-model="selectedControl.Content.Value" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.Font.Display}};">
                    <span>Font</span>
                    <select ng-model="selectedControl.Font.Value">
                        <option style="font-family:'Times New Roman';" class="Times-New-Roman" value="Times New Roman">Times New Roman</option>
                        <option style="font-family:Verdana, Geneva, sans-serif;" class="Verdana" value="Verdana">Verdana</option>
                    </select>
                </li>

                <li style="display: {{selectedControl.FontColor.Display}};">
                    <span>Font-Color</span>
                    <input ng-model="selectedControl.FontColor.Value" type="color" />
                </li>

                <li style="display: {{selectedControl.FontBold.Display}};">
                    <span>Font-Bold</span>
                    <select ng-model="selectedControl.FontBold.Value">
                        <option style="font-weight:normal;" value="normal">normal</option>
                        <option style="font-weight:bold;" value="bold">bold</option>
                    </select>

                </li>

                <li style="display: {{selectedControl.BackColor.Display}};">
                    <span>Background-Color</span>
                    <input ng-model="selectedControl.BackColor.Value" type="color" />
                </li>

                <li style="display: {{selectedControl.DefaultSelectText.Display}};">
                    <span>Default Select Text</span>
                    <input type="text" ng-model="selectedControl.DefaultSelectText.Value" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.Enumerations.Display}};">
                    <span>Enumerations</span>
                    <input type="text" ng-model="selectedControl.Enumerations.Value" style="height: 15px; width: 100px;" />
                </li>

                <li style="display: {{selectedControl.ImagePath.Display}};">
                    <span>ImagePath</span>
                    <input id="imagePathTxt" type="text" ng-model="selectedControl.ImagePath.Value" style="height: 15px; width: 100px;" />
                    <input type="file" ng-model="selectedControl.ImagePath" onchange="angular.element(this).scope().file_changed(this)" />
                </li>


            </ol>

        </div>

    </div>

</body>
<script>$(function () { $('.label-cls').draggable().resizable(); });</script>
<script>
    function decideControlCreation() {
        //alert('hoii')
    }

</script>

</html>