<div class="left_bg">
    <div class="left_border">
        <div class="bor_bot">
            <div class="hide"> Hide </div>
            <div class="pageH line_height"> Hellp Drogo, Welcome back, Its a busy day ahed with 8 requests</div>
        </div>
        <div class="page_sub bor_bot"> Performance previous VS Current month </div>
        <div class="page_sub bor_bot">
            Your Best Months is March 2015 as Infographic
            <div class="Infographic">
                <ul>
                    <li>
                        <h1> 1 </h1>
                        <div class="clear_line"> </div>
                        <span> Canceled </span>
                    </li>
                    <li>
                        <h1> 208 </h1>
                        <div class="clear_line"> </div>
                        <span> Finished </span>
                    </li>
                    <li>
                        <h1> Hd3h </h1>
                        <div class="clear_line"> </div>
                        <span>Time Average </span>
                    </li>
                </ul>
            </div>
            <div class="clear_line"> </div>
        </div>
        <div class="clear_line"> </div>
        <div class="page_sub">
            Monthly Statistics for August 2015
            <div class="tab_calss"> <a href="#">Text here</a> <a href="#"> Text here</a> <a href="#"> Text here</a> <a class="tab_sel" href="#"> Text here</a> </div>
            <div class="progress_tab">
                <ul>
                    <li>
                        <span> Abu Dhabi Islamic Bank </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;"> 25% </div>
                        </div>
                    </li>
                    <li>
                        <span> Noor Bank </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"> 80% </div>
                        </div>
                    </li>
                    <li>
                        <span> National Bank of Fujairah </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"> 30% </div>
                        </div>
                    </li>
                    <li>
                        <span> Mashreq Bank </span>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"> 50% </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
