@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li><a class="navbar-brand glyphicon glyphicon-align-justify" href="#"></a> </li>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("Survey", "Index", "Survey")</li>
        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
    </ul>
} 
